<h1 class="main-h1">UptimePal</h1>
<br>
<h2>Made Simple</h2>

<div class="blurb">
  UptimePal is your steadfast companion in ensuring the seamless performance of your web assets. With a user-friendly interface and robust functionality, this app diligently monitors your HTTP and HTTPS sites, providing real-time status updates. Stay in the loop with instant notifications, and trust UptimePal to safeguard your online presence by promptly identifying and alerting you to any downtime. Effortlessly keep your digital landscape thriving with UptimePal – where reliability meets simplicity.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
